/*視頻*/
/*
.fixedBgImg{
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: hard-light;
	background-position: center center;
  z-index: -1;
}
.funfactImg{
	background-image: url('../img/software_banner.png');
}
.indexVideo{
	position: relative;
	z-index: 0;
	margin: auto;
	max-width: 1250px;
}
.indexVideo>video{
	width: 100%;
  display: block;
}
.indexVideoMuted{
	position: absolute;
	right: 2.5%;
	bottom: 10%;
	cursor: pointer;
}
.indexVideoMuted .icon-shengyin{
	background: rgba(0,0,0,0.6);
	border-radius: 50%;
}
.indexVideoMuted i{
	font-size: 35px;
	color: #FFFFFF;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.indexVideoMuted .icon-cha{
	position: absolute;
	right: 0;
  top: 0;
	color: #f44336;
	opacity: 1;
	transition: .5s;
	font-size: 30px;
}
.indexVideoMuted.active .icon-cha{
	opacity: 0;
}
*/
/*视频2*/
.aboutBannet>img{
  filter: brightness(0.6);
}
.aboutBannet>div>p{
  font-size: 32px;
  position: relative;
  padding: 15px 0;
  margin-top: 20px;
}
.aboutBannet>div>p:before{
  position: absolute;
  content: "";
  height: 4px;
  width: 80px;
  background: #72C8FF;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
}
.aboutBannet .playBtn{
  font-size: 32px;
  cursor: pointer;
  display: inline-block;
}
.aboutBannet .playBtn:hover{
  filter: drop-shadow(2px 4px 6px #FFFFFF);
}
.aboutBannet .playBtn>i{
  font-size: 70px;
  display: inline-block;
  vertical-align: middle;
}
.indexVideoMuted>video{
  width: 100%;
  display: block;
}
.modalAbout{
  padding: 60px 20px 30px;
  background: #FFFFFF;
}
/*關於我們*/
.aboutUsDiv>div{
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}
.aboutLeftDiv{
  width: 40%;
  position: relative;
}
.aboutRightDiv{
  width: 60%;
  padding-left: 80px;
}
.itemTitle{
  color: #254051;
  font-size: 15px;
  margin-bottom: 20px;
  text-align: justify;
}
.spanText{
  color: #83929c;
  font-size: 16px;
  line-height: 2;
}
/*使命*/
.missionDiv>div{
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}
.missionLeftDiv{
  padding-right: 80px;
  width: 60%;
}
.missionRightDiv{
  width: 40%;
}
.missionLeftDiv ul{
  margin-top: 20px;
}
.missionLeftDiv li{
  padding: 5px 0;
}
.missionLeftDiv li i{
  font-size: 25px;
  color: #71c8ff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.missionLeftDiv li span{
  font-size: 16px;
  color: #254051;
}
/*为什么选择我们*/
.ChooseDiv{
  margin-top: 50px;
  text-align: center;
}
.ChooseDiv .rowHDiv>div{
  width: 30%;
  box-sizing: border-box;
}
.ChooseDiv .divs{
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.16);
  padding: 50px 35px;
  box-sizing: border-box;
  height: 100%;
  transition: all 0.3s;
}
.ChooseDiv .divs:hover{
  transform: translateY(-10px);
}
.ChooseDiv .divs>i{
  font-size: 80px;
  color: #205085;
  line-height: 1;
}
.ChooseDiv .divs>p{
  font-size: 24px;
  margin: 30px 0 20px;
  color: #254051;
}
.ChooseDiv .divs>div{
  margin: auto;
  font-size: 16px;
  color: #83929c;
  line-height: 1.8;
}
/*pre*/
.preText{
  white-space: pre-line;
  line-height: 1.8;
  color: #83929c;
  font-size: 16px;
  min-height: 50px;
  transition: all 0.3s;
  text-align: justify;
}
.aboutPreText{
  min-height: 350px;
}
@media screen and (max-width:1024px){
  .aboutUsDiv>div{
    display: block;
    width: 100%;
  }
  div.aboutLeftDiv{
    display: none;
  }
  .aboutRightDiv{
    padding-left: 0;
  }
  .aboutPreText{
    min-height: 250px;
  }
  .missionLeftDiv{
    padding-right: 20px;
  }
  .preText{
    line-height: 1.6;
  }
  .missionLeftDiv ul{
    margin-top: 10px;
  }
  .ChooseDiv{
    margin-top: 20px;
  }
  .ChooseDiv .rowHDiv>div{
    width: 31%;
  }
  .ChooseDiv .divs>p{
    font-size: 18px;
    margin: 20px 0 15px;
  }
  .ChooseDiv .divs>i{
    font-size: 70px;
  }
  .ChooseDiv .divs>div{
    font-size: 14px;
  }

  .aboutBannet>div>p{
    margin-top: 5px;
    font-size: 22px;
  }
  .aboutBannet .playBtn{
    font-size: 20px;
  }
  .aboutBannet .playBtn>i{
    font-size: 50px;
  }
}
@media screen and (max-width:767px) {
  .indexVideoMuted i{
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .indexVideoMuted .icon-cha{
    font-size: 20px;
  }

  .itemTitle{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .preText{
    font-size: 13px;
  }
  .missionDiv>div{
    display: block;
    width: 100%;
  }
  .missionLeftDiv ul{
    margin-top: 5px;
    padding-bottom: 20px;
  }
  .missionLeftDiv li span{
    font-size: 13px;
  }
  .missionLeftDiv li i{
    margin-right: 5px;
    font-size: 20px;
  }
  .missionLeftDiv li{
    padding: 2px 0;
  }
  .ChooseDiv{
    margin-top: 10px;
  }
  .ChooseDiv .rowHDiv>div{
    width: 48%;
    margin-bottom: 15px;
  }
  .ChooseDiv .divs{
    padding: 25px 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.16);
  }
  .ChooseDiv .divs>p{
    font-size: 14px;
    margin: 10px 0;
  }
  .ChooseDiv .divs>div{
    font-size: 12px;
    line-height: 1.5;
  }
  .ChooseDiv .divs>i{
    font-size: 50px;
  }

  .modalAbout{
    padding: 40px 0 0;
  }
  .aboutBannet>div>p{
    padding: 10px 0 5px;
    margin-top: 3px;
    font-size: 12px;
    line-height: 1.4;
  }
  .aboutBannet>div>p:before{
    height: 2px;
    width: 50px;
  }
  .aboutBannet .playBtn{
    font-size: 14px;
  }
  .aboutBannet .playBtn>i{
    font-size: 30px;
  }
}
