.headerDiv{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 0;
}
.languageDiv{
  font-size: 0;
  text-align: right;
}
.languageDiv ul li {
  list-style: none;
  display: inline-block;
  min-width: 35px;
  text-align: center;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
  padding: 5px 0;
}

.languageDiv ul li.active,
.languageDiv ul li:hover {
  background: rgba(250, 162, 54, 1);
}

.languageShow{
  height: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.headerNavTop{
  display: table;
  width: 100%;
  table-layout: fixed;
}
.headerNavTop>div{
  display: table-cell;
  vertical-align: middle;
}
.headerNavTop>.div1{
  width: 150px;
}
.headerNavTop>.div1 img{
  height: 70px;
  animation: 0.1s;
}
.headerNavTop>.div2{
  text-align: right;
  color: #FFFFFF;
}
.headerNavTop>.div2 ul li{
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  position: relative;
}
.headerNavTop>.div2 .phone i{
  font-size: 22px;
  cursor: pointer;
  color: #FFFFFF;
}
.headerNavTop>.div2 button,.menuButton>button{
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #FFFFFF;
  padding: 10px 25px;
  text-transform: uppercase;
}
.menuButton{
  display: none;
}
.headerNavTop>.div2 .menu{
  cursor: pointer;
}
.nav-hamburger,.headerNavTop>.div2 .menu .p1>span{
  display: inline-block;
  vertical-align: middle;
}
.nav-hamburger{
  width: 22px;
  height: 18px;
}
.nav-hamburger span{
  display: block;
  transition: .25s ease-in-out;
  height: 2px;
  background: #FFFFFF;
  margin-bottom: 6px;
  float: right;
}
.nav-hamburger span:nth-child(1){
  transition-delay: 0s;
  width: 100%;
}
.nav-hamburger span:nth-child(2){
  transition-delay: 0.125s;
  width: 80%;
}
.nav-hamburger span:nth-child(3){
  transition-delay: 0.25s;
  width: 100%;
}
.headerNavTop>.div2 .open .nav-hamburger span{
  width: 0;
}
.headerNavTop>.div2 .open .p1>span,.headerNavTop>.div2 .open .nav-hamburger span{
  transition: opacity .3s;
  opacity: 0;
}
.nav-cross{
  position: absolute;
  height: 50px;
  width: 50px;
  transform: rotate(45deg) scale(.7);
  right: 0;
  top: -10px;
}
.nav-cross:before {
  height: 0;
  width: 2px;
  top: 0;
  left: 45%;
}
.nav-cross:after {
  width: 0;
  height: 2px;
  left: 0;
  top: 45%;
}
.nav-cross:before, .nav-cross:after{
  position: absolute;
  content: "";
  background: #FFFFFF;
  transition: .25s ease-in-out;
}
.headerNavTop>.div2 .open .nav-cross:before{
  height: 100%;
  transition-delay: .625s;
}
.headerNavTop>.div2 .open .nav-cross:after{
  width: 100%;
  transition-delay: .375s;
}

/*header滑动*/
.scrollHeader{
  padding: 5px 0;
  animation: navfade 1s ease;
  background: rgba(32,80,133,0.8);
}
@keyframes navfade{
  0%{
    padding: 20px 0;
  }
  100%{
    padding: 5px 0;
  }
}
.scrollHeader .div1 img{
  height: 55px;
  animation: navfade2 1s ease;
}
@keyframes navfade2{
  0%{
    height: 70px;
  }
  100%{
    height: 55px;
  }
}
.scrollHeader .languageDiv{
  display: none;
}
/*header ——————END */

/*header点击*/
.headerTopDiv{
  position: relative;
  z-index: 10;
}
.menusWrapper{
  position: fixed;
  left: 0;
  top: 0;
  background-image: url("../img/menuBG_m.jpg");
  background-color: #205085;
  transition: all 0.5s ease;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  z-index: 9;
  height: 0;
  display: none;
  opacity: 0;
  transform: translateY(-200px);
}
.menusWrapper.menuShow{
  height:100%;
  display: block;
  animation: navfade3 0.7s;
  opacity: 1;
  transform: translateY(0);
}
@keyframes navfade3{
  0%{
    transform: translateY(-200px);
  }
  100%{
    transform: translateY(0);
  }
}
.menusWrapper .menusBg{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  transition: all 0.5s ease;
}
.menu_main_menu>li{
  text-align: center;
  position: relative;
  font-size: 35px;
  padding: 25px 0;
  color: #FFFFFF;
}
.menu_main_menu>li a{
  color: #FFFFFF;
}
.menu_main_menu>li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 30px);
  width: 60px;
  height: 3px;
  background-color: #72C8FF;
}
.menu_main_menu>li .span1{
  height: 0;
  transition: opacity .6s, font-size .6s, max-height .6s, transform .6s;
  opacity: 0;
  display: block;
  transform: scale(0);
}
.menu_main_menu>li:hover .span1{
  /*font-size: 40px;*/
  height: auto;
  opacity: 1;
  transform: scale(1);
}
.menu_main_menu>li p{
  transition: font-size .6s, transform .6s;
}
.menu_main_menu>li:hover p{
  font-size: 40px;
}
.menu_main_menu>li:hover a,.menu_main_menu>li:hover{
  color: #72C8FF;
}

.menu_main_item{
  display: table;
  width: 100%;
  padding-top: 15px;
  font-size: 28px;
}
.menu_main_item>li{
  display: table-cell;
  padding: 0 20px;
  border-right: 1px solid #72C8FF;
}
.menu_main_item>li:last-child{
  border-right: 0;
}
.videoBg{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  height: 100%;
  object-fit: cover;
  display: block;
}
.menu_main_menu>li p>label{
  display: none;
}

@media screen and (max-width:1200px){
  .headerNavTop>.div2 ul li{
    margin-left: 15px;
  }
  .menu_main_menu>li{
    font-size: 32px;
  }
  .menu_main_menu .span1,.menu_main_menu>li:hover .span1{
    font-size: 24px;
  }
}
@media screen and (max-width:1023px){
  .menu_main_menu .span1,.menu_main_menu>li:hover .span1{
    font-size: 20px;
  }
  .menu_main_item>li{
    padding: 0 10px;
  }
}
@media screen and (max-width:767px){
  .headerNavTop>.div1 img{
    height: 36px;
  }
  .headerDiv{
    padding: 10px 0;
  }
  .scrollHeader .div1 img{
    height: 40px;
  }
  @keyframes navfade2{
    0%{
      height: 36px;
    }
    100%{
      height: 40px;
    }
  }
  .headerNavTop>.div1{
    width: 100px;
  }
  .headerNavTop>.div2 .phone>span,.headerNavTop>.div2 .quote,.videoBg,.menu_main_menu>li .span1{
    display: none;
  }
  .headerNavTop>.div2 ul li{
    margin-left: 10px;
  }
  .scrollHeader{
    background: rgba(32,80,133,1);
  }
  .menu_main_menu>li{
    font-size: 20px;
    padding: 0 0 10px;
    margin-bottom: 15px;
  }
  .menu_main_menu>li:hover p{
    font-size: 20px;
  }
  .menu_main_menu>li:hover .span1{
    font-size: 16px;
  }
  .menu_main_menu>li .menuUl{
    display: block;
    transform: scale(1);
    opacity: 1;
    font-size: 16px;
    overflow: hidden;
    transition: height .4s;
  }
  .menu_main_menu>li .downItem{
    height: 0!important;
    margin-top: 0;
  }
  .menu_main_item>li a{
    color: #72C8FF;
  }
  .menu_main_item>li{
    display: block;
    border-right: 0;
    margin-top: 10px;
  }
  .menu_main_item>li a{
    border-left: 2px solid #72C8FF;
    padding: 0 0 0 10px;
  }
  .menu_main_menu>li p>label{
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 5px;
    text-align: center;
    background: rgba(225,225,225,0.3);
    color: #FFFFFF;
  }

  .menusWrapper .menusBg{
    display: block;
  }
  .menuButton{
    padding: 65px 0 30px;
    text-align: center;
    display: block;
  }
  .languageDiv ul li{
    font-size: 13px;
    padding: 2px 0;
    min-width: 25px;
  }
  .menu_main_item{
    padding-top: 0;
  }
  .menu_main_menu>li .openItem.menuUlHeight1{
    height: 200px!important;
  }
  .menu_main_menu>li .openItem.menuUlHeight2{
    height: 170px!important;
  }
}
