
/*@media screen and (min-width: 768px) {*/
/*  @font-face{*/
/*    font-family: "PingFang";*/
/*    font-display: swap;*/
/*    src:*/
/*      url('../fonts/PingFang.woff') format('woff'),*/
/*      url('../fonts/PingFang.ttf') format('truetype');*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*  }*/
/*  body, html, button, input, select, textarea, pre{*/
/*    font-family: "PingFang",sans-serif,STHeiti,SimHei;*/
/*  }*/
/*}*/
/*@media screen and (max-width: 768px) {*/
/*  body, html, button, input, select, textarea{*/
/*    font-family: sans-serif,STHeiti,SimHei;*/
/*  }*/
/*  pre{*/
/*    font-family: serif*/
/*  }*/
/*}*/
body, html, button, input, select, textarea, pre{
  font-family: "Noto Sans HK",sans-serif,STHeiti,SimHei;
}
body,
html {
  color: #333333;
  font-size: 18px;
}
button,
input,
select,
textarea,
pre{
  color: #232425;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  box-shadow:0px 0px 0px rgba(0,0,0,0) inset;
}

/*开发服务*/
@media screen and (min-width:768px){
  .swiperBox1{
    background-image: url("../img/home_bg.jpg");
  }
}
@media screen and (max-width:767px){
  .swiperBox1{
    background-image: url("../img/home_bg_app.jpg");
  }
}
.thumbsBg>div{
  background: url("../img/white-pattern.jpg");
}
/*开发流程*//*process页面外部*/
.processDivBg,.processDivItem{
  background: url("../img/pattern.jpg") repeat;
}
.processStep:before{
  background-image: url('../img/arrowRight.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.processStepBg1:hover{
  background: url("../img/process_pic1.jpg");
}
.processStepBg2:hover{
  background: url("../img/process_pic2.jpg");
}
.processStepBg3:hover{
  background: url("../img/process_pic3.jpg");
}
.processStepBg4:hover{
  background: url("../img/process_pic4.jpg");
}
.processStepBg5:hover{
  background: url("../img/process_pic5.jpg");
}
.processStepBg6:hover{
  background: url("../img/process_pic6.jpg");
}
/*header页面*/
.menusWrapper{
  background-image: url("../img/menuBG_m.jpg");
}
/*購買*/
.mallBgImg{
  background: url("../img/mall_bg.jpg") no-repeat;
  background-size: 100% 100%;
}
