@font-face{
  font-family: "PingFang";
  src: url('../fonts/PingFang.woff') format('woff'),
  url('../fonts/PingFang.ttf') format('truetype'),
  url('../fonts/PingFang.svg') format('svg');
}
body,
html {
  font-family: "PingFang", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 18px;
}
button,
input,
select,
textarea,
pre{
  font-family: "PingFang", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #232425;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  box-shadow:0px 0px 0px rgba(0,0,0,0) inset;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
li,
dt,
dd,
strong,
b,
pre,
div,
img,
video {
  margin: 0;
  padding: 0;
}
a {
  color: #212529;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.5s ease;
}
img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
ul li{
  list-style: none;
}
section{
  position: relative;
}
button{
  background: none;
  border: 0;
  cursor: pointer;
}


/* 公共css */
.Width1200,.Width1400,.Width1000 {
  box-sizing: border-box;
  margin: auto;
  padding: 0 20px;
}
.Width1200 {
  max-width: 1240px;
}
.Width1400{
  max-width: 1440px;
}
.Width1000{
  max-width: 1040px;
}
.pad_100 {
  padding: 100px 0;
}
.padTop_100 {
  padding-top: 100px;
}
.padBottom_100{
  padding-bottom: 100px;
}
.clearfix::after{
  clear: both;
  display: table;
  content: " ";
}
.divNone{
  display: none!important;
}
/*模态框*/
.modalBigDiv{
  position: relative;
  visibility: initial;
}
.modalBgDiv{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 11;
  transition: all 0.3s;
}
.modalTextDiv,.modalCenterDiv{
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: auto;
  z-index: 13;
  transform: translate(-50%,-50%);
}
.modalTextDiv{
  width: 65%;
  height: auto;
  max-height: 95%;
}
.modalClose{
  position: absolute;
  right: 25px;
  top: 25px;
  background: none;
  border: 0;
  cursor: pointer;
  z-index: 12;
}
.modalClose>i{
  font-size: 20px;
}
@media screen and (max-width:1023px){
  .modalTextDiv{
    width: 85%;
  }
}
@media screen and (max-width:767px){
  .modalTextDiv{
    width: 95%;
  }
  .modalClose{
    right: 10px;
    top: 10px;
  }
}

/*头部图片、标题*/
.bgImgDiv{
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% + 150px);
  height: calc(100% + 150px);
  will-change: transform;
  animation: bgPos 90s linear infinite;
  transform: translate3d(-75px, -75px, 0) rotate(0.001deg);
  background-position: 50% 50%;
  background-size: cover;
  z-index: -1;
}

@keyframes bgPos {
  25% {
    transform: translate3d(-150px, -150px, 0) rotate(0.001deg);
  }
  75% {
    transform: translate3d(0, 0, 0) rotate(0.001deg);
  }
}
.bannerImg{
  width: 100%;
}
/***************/
.disTable{
  display: table;
  width: 100%;
  table-layout: fixed;
}
.flLeft{
  float: left;
}
.flRight{
  float: right;
}
.rowHDiv{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.bannerItem{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: hard-light;
  background-position: center center;
  z-index: -1;
}
.textCenter{
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.rowCol3 > div {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.col_FFF{
  color: #FFFFFF;
}
.BgF2F5F6{
  background: #f2F5F6;
}
.BgFAFAFA{
  background: #FAFAFA;
}
.pad_50{
  padding: 50px 0;
}

.h1Title{
  font-size: 48px;
  padding-bottom: 30px;
  position: relative;
  text-transform: uppercase;
  white-space: pre-line;
}
.h1TitAfter:after{
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 70px;
  background: #205085;
  left: 50%;
  transform: translate(-50%,0);
}
.h1TitleItem{
  text-align: center;
  padding-top: 20px;
}
.col_254051{
  color: #254051;
}
@media screen and (max-width:1023px){
  .pad_100{
    padding: 50px 0;
  }
  .padBottom_100{
    padding-bottom: 50px;
  }
  .rowCol2_sm>div{
    width: 50%;
  }
  .h1Title{
    font-size: 32px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width:767px){
  .pad_100{
    padding: 30px 0;
  }
  .padBottom_100{
    padding-bottom: 30px;
  }
  .rowCol1_xs>div{
    width: 100%;
  }
  .Width1200, .Width1400, .Width1000{
    padding: 0 10px;
    overflow: hidden;
  }
  .pad_50{
    padding: 20px 0;
  }
  .h1Title{
    font-size: 24px;
  }
  .h1TitleItem{
    padding-top: 8px;
    font-size: 14px;
  }
}

/*---------------------------------------------------------------------------------------------------------------------*/

/*开发服务*/
.swiperBox1{
  background-image: url("../img/home_bg.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% auto;
  color: #FFFFFF;
  padding: 40px 0;
}
.gallery_topBox>i,.gallery_topBox>span{
  display: inline-block;
  vertical-align: middle;
}
.gallery_topBox>span{
  width: calc(100% - 80px);
}
.gallery_topBox>i{
  font-size: 50px;
  margin-right: 20px;
  max-width: 50px;
}
.gallery_thumbs{
  padding: 20px 50px 5px;
  box-sizing: border-box;
}
.gallery_thumbs:after{
    position: absolute;
    content: "";
    height: 1px;
    bottom: 3px;
    left: 50px;
    right: 50px;
    background: #FFFFFF;
  }
.gallery_thumbs .swiper-slide {
  opacity: 0.6;
  position: relative;
  padding-bottom: 20px;
  cursor: pointer;
}
.gallery_thumbs .swiper-slide:before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 6px;
  background-color: #04d0f1;
  transition: transform .3s cubic-bezier(.51,.92,.24,1);
  transform: scaleX(0);
  transform-origin: 50% 50%;
}
.gallery_thumbs .swiper-slide:before {
  transform: scaleX(0);
  transform-origin: 0 50%;
}
.gallery_thumbs .swiper-slide-thumb-active{
  opacity: 1;
}
.gallery_thumbs .swiper-slide-thumb-active:before{
  transform: scaleX(1);
  opacity: 1;
}
@media screen and (min-width:1024px){
  .gallery_thumbs .swiper-slide:hover{
    opacity: 1;
  }
  .gallery_thumbs .swiper-slide:hover:before{
    transform: scaleX(1);
    opacity: 1;
  }
}
.gallery_topPrev:after,.gallery_topNext:after{
  content: "";
}
.gallery_thumbsBox{
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.thumbsImg,.thumbsText{
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.thumbsImg{
  width: 60%;
}
.thumbsImg img{
  position: absolute;
  top: 0;
  height: 100%;
  max-width: initial;
}
.thumbsText{
  width: 40%;
  z-index: 1;
}
.thumbsText>div{
  position: relative;
}
.thumbsText>div:after{
  position: absolute;
  content: "";
  border-left: 5px solid #feaf3c;
  border-bottom: 5px solid #feaf3c;
  pointer-events: none;
  left: -30px;
  bottom: -30px;
  height: 60px;
  width: 60px;
}
.thumbsText .run_txt {
  font-size: 19px;
  margin-bottom: 20px;
  line-height: 1.6;
  padding-right: 20px;
  box-sizing: border-box;
}
.thumbsText .run_txt>pre{
  white-space: pre-line;
  min-height: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: justify;
}
.thumbsText .run_btn:hover{
  color: #feaf3c;
  cursor: pointer;
}
.thumbsText .run_btn i,.thumbsText .run_btn:hover i{
  transition: all 0.5s;
}
.thumbsText .run_btn:hover i{
  padding-left: 10px;
}
.thumbsBg{
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 55%;
  text-align: right;
}
@media screen and (max-width:1680px){
  .thumbsBg {
    width: 50%;
  }
}
.thumbsBg img{
  position: absolute;
  right: 10%;
  bottom: 0;
  width: 30%;
}
.thumbsBg>div{
  background: url("../img/white-pattern.jpg");
  clip-path: polygon(0 0,100% 0,100% 100%,130px 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.thumbsBg:before,.thumbsBg:after{
  content: '';
  position: absolute;
  top: 0;
  background: rgba(255,255,255,.5);
  transform: skewX(0deg) translateX(250px);
  right: 0;
  height: 100%;
  z-index: -1;
  transition: transform .5s;
}
.swiper-slide-active .thumbsBg:before, .swiper-slide-active .thumbsBg:after{
  transform: skewX(21deg) translateX(0px);
}
.swiper-slide-active .thumbsBg:before {
  width: 100%;
  transition-delay: .2s;
}
.swiper-slide-active .thumbsBg:after {
  width: 106.5%;
  transition-delay: .4s;
}
.gallery_top .run_txt>p{
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: max-width .6s, opacity .6s;
  transition: max-width .6s, opacity .6s;
}
.gallery_top .swiper-slide-active .run_txt>p{
  max-width: 100%;
  opacity: 1;
}
.gallery_top .swiper-slide-active .run_txt>p:nth-child(1){
  -webkit-transition-delay: .15s;
  transition-delay: .15s;
}

.gallery_top .swiper-slide-active .run_btn{
  animation-name: fadeInUp;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.gallery_thumbs .swiper-button-prev, .gallery_thumbs .swiper-rtl .swiper-button-next{
  left: 0;
}
.gallery_thumbs .swiper-button-next, .gallery_thumbs .swiper-rtl .swiper-button-prev{
  right: 0;
}

.run_txtTit .title{
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.thumbsText  div.run_txtTit{
  font-size: 14px;
}

@media screen and (max-width:1023px){
  .gallery_topBox>span{
    font-size: 16px;
  }
  .swiperBox1{
    padding: 25px 0;
  }
  .gallery_topBox>i{
    margin-right: 10px;
    font-size: 40px;
    max-width: 40px;
  }
  .thumbsImg{
    display: none;
  }
  .thumbsBg,.thumbsText{
    width: 100%
  }
  .thumbsText{
    padding: 0 70px;
    box-sizing: border-box;
  }
  .thumbsBg:before, .thumbsBg:after{
    content: none;
  }
  .thumbsBg>div{
    clip-path: none;
  }
  .gallery_thumbsBox{
    height: 300px;
  }
}
@media screen and (max-width:767px){
  .swiperBox1{
    padding: 10px 0;
  }
  .gallery_thumbs .swiper-slide{
    padding-bottom: 0px;
  }
  .gallery_thumbs{
    padding: 5px 40px;
  }
  .gallery_thumbs .swiper-slide:before,.gallery_thumbs:after{
    content: none;
  }
  .thumbsText{
    padding: 0 0 0 40px;
  }
  .thumbsText .run_txt>pre{
    font-size: 15px;
  }
  .thumbsText div.run_txtTit>pre{
    font-size: 12px;
  }
  .gallery_thumbsBox{
    height: 210px;
  }
  .gallery_top .swiper-slide-active .run_btn{
    font-size: 16px;
  }
  .thumbsText>div:after {
    left: -20px;
    bottom: -20px;
    height: 40px;
    width: 40px;
  }
}
/*子页面banner标题*/
.bannerTit{
  font-size: 64px;
  color: #72C8FF;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  bottom: 10%;
}
@media screen and (max-width:1200px){
  .bannerTit{
    font-size: 56px;
  }
}
@media screen and (max-width:1023px){
  .bannerTit{
    font-size: 44px;
    top: initial;
    transform: initial;
    bottom: 5%;
  }
}
@media screen and (max-width:767px){
  .bannerTit{
    font-size: 20px;
    bottom: 10px;
  }
}

/*联络我们*/
input::placeholder,textarea::placeholder{
  color: #83929C;
}
.inputDiv{
  margin-bottom: 25px;
  position: relative;
}
.inputDiv>p{
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 14px;
  color: #e90000;
}
.contentBtnDiv .inputDiv>p{
  right: 15px;
}
.inputDiv>input,.inputDiv textarea{
	width: 100%;
	border: 0;
	background: none;
	border-bottom: 1px solid #DDDDDD;
	outline: none;
	transition: 0.5s;
	min-height: 40px;
  font-size: 14px;
  box-sizing: border-box;
  resize: none;
}
.inputDiv>input:focus,.inputDiv>textarea:focus{
	border-bottom-color: #205085;
}
.contentBtnDiv{
  padding: 40px 0;
}
.contentBtnDiv>div{
  justify-content: space-between;
}
.contentBtnDiv>div .inputDiv{
  max-width: 400px;
}
.buttonIcon{
  padding: 8px 10px;
  box-sizing: border-box;
  min-width: 120px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
.buttonIcon span,.buttonIcon i{
  display: inline-block;
  vertical-align: middle;
}
.buttonIcon i{
  margin-left: 10px;
}
.borderFFF{
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.border_205085{
  border: 1px solid #205085;
  color: #205085;
}
.modalContact{
  padding: 60px 30px 30px;
  background: #FFFFFF;
  border-radius: 5px;
}
@media screen and (max-width:767px){
  .contentBtnDiv{
    padding: 15px 10px;
  }
  .inputDiv{
    margin-bottom: 15px;
  }
  .contentBtnDiv>div .inputDiv{
    max-width: 100%;
  }
  .buttonIcon{
    font-size: 16px;
  }
  .modalContact{
    padding: 40px 15px 15px;
    border-radius: 5px;
  }
}
/*footer*/
.footIconDiv{
  margin-top: 30px;
}
.footIconDiv li i{
  font-size: 20px;
  color: #FFFFFF;
}
.footIconDiv li{
  text-align: center;
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #205085;
  position: relative;
}
.footIconDiv>li:nth-child(1){
  background: #3B5998;
  cursor: pointer;
}
.footIconDiv>li:nth-child(2){
  background: #2BA245;
}
.footIconDiv>li:nth-child(3){
  background: #4DC247;
  cursor: pointer;
}
.wechatCode{
  opacity: 0;
  position: absolute;
  bottom: 45px;
  box-shadow: 0 0 6px rgba(14,22,30,0.3);
  margin-left: -45px;
  padding: 5px;
  background: #fff;
  box-sizing: border-box;
  z-index: 5;
  border-radius: 3px;
  transition: 0.7s;
  transform: scale(0, 0);
  left: -1000px;
  width: 130px;
  height: 130px;
}
.wechatCode img{
  width: 100%;
  height: 100%;
}
.footIconDiv li:nth-child(2):hover .wechatCode{
  opacity: 1;
  left: auto;
  transform: scale(1, 1);
}

/*開發案例*/
.projectBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}
.projectBox > .projectBoxItem {
  width: 49.4%;
  margin-bottom: 1.1vw;
  transition: z-index .5s;
  position: relative;
  color: #fff;
  z-index: 4;
  overflow: hidden;
  cursor: pointer;
}
.projectImgPc,.projectImgWeb{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.projectImgPc{
  left: 0px;
}
.projectImgPc img,.projectImgWeb img{
  width: 100%;
  height: 100%;
}
/*
.projectImgPc img{
  filter: brightness(80%);
}
*/
.projectBox > .projectBoxItem,.projectBoxText {
  min-height: 450px;
}
.projectImgWeb{
  opacity: 0;
  transform: perspective(340px) rotateY(-40deg);
  transition: 0.5s;
}
.projectBoxText {
  position: relative;
  z-index: 2;
  /*transform: translate3d(0,-60px,0);*/
  overflow: hidden;
  transition: transform .4s ease-in-out;
  padding: 0 5%;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  transform-origin: 0 50%;
  color: #FFFFFF;
  background: rgba(137, 137, 137, 0.3);
}

.projectBoxText > div {
  font-size: 16px;
  padding-bottom: 7%;
  transition: all .4s ease-in-out;
  transform: translate3d(0, 80%, 0);
  transform-origin: 0 50%;
  min-width: 50%;
  max-width: 55%;
}

.projectBoxText > div .rpTop {
  transition: transform .4s ease-in-out;
  transform: translate3d(0, -100%, 0);
  /*filter: drop-shadow(2px 4px 6px #205085);*/
}

.projectBoxText .rpText {
  padding: 20px 0;
  font-size: 15px;
  line-height: 1.6;
}
.projectBoxModal{
  opacity: 0;
  position: absolute;
}
.projectBoxText .rpText>p{
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow:ellipsis;
}
@media screen and (min-width:1201px){
  .projectBoxItem:hover .projectImgPc{
    transform: perspective(340px) rotateY(5deg) scale(0.9);
  }
  .projectBoxItem:hover .projectImgPc img{
    transition: transform 4s .4s linear, opacity .5s;
    transform: translate3d(-8%, 0, 0)
  }
  .projectBoxItem:hover .projectImgWeb{
    opacity: 1;
    transform: perspective(340px) rotateY(0);
  }
  .projectBoxItem:hover .projectBoxText>div,.projectBoxItem:hover .projectBoxText>div .rpTop{
    transform: translate3d(0, 10%, 0);
  }
}
.projectBoxItem .projectImgPc{
  transition: 0.5s;
}

.projectBoxText .rpTitle{
  font-size: 24px;
  font-weight: bolder;
  padding-top: 15px;
}
.projectBoxText a{
  color: #72c8ff;
  pointer-events: auto;
  display: inline-block;
  margin-top: 15px;
  font-weight: bolder;
}
.projectBoxText a i{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.projectBoxText > div .rpTop>img{
  max-height: 50px;
}

@media screen and (max-width:1390px){
  .projectBox > .projectBoxItem, .projectBoxText{
    min-height: 400px;
  }
}
@media screen and (max-width:1200px){
  .projectBox > .projectBoxItem, .projectBoxText{
    min-height: 350px;
  }
  .projectBoxText > div,.projectBoxText > div .rpTop{
    transform: inherit;
  }
  .projectBoxText .rpText{
    padding: 0;
    max-width: 100%;
  }
  .projectBoxText .rpText>p{
    display: none;
  }
}
@media screen and (max-width:1023px){
  .projectBox > .projectBoxItem, .projectBoxText{
    min-height: 250px;
  }
  .projectBoxText .rpTitle{
    padding-top: 10px;
  }
  .projectBoxText a{
    margin-top: 10px;
  }
  .projectBoxText > div .rpTop>img{
    max-height: 40px;
  }
  .projectBoxText>div{
    max-width: 100%;
  }
}
@media screen and (max-width:767px){
  .projectBox{
    padding: 15px 0;
  }
  .projectBox > .projectBoxItem {
    width: 100%;
    margin-bottom: 15px;
  }
}
/*按钮*/
.processBtn{
  display: inline-block;
  border: 2px solid #254051;
  cursor: pointer;
  transition:all 0.4s;
}
.processBtn span,.processBtn i{
  display: inline-block;
  vertical-align: middle;
}
.processBtn span{
  padding: 10px 20px;
  font-size: 24px;
  text-transform: uppercase;
  border-right: 2px solid #254051;
}
.processBtn i{
  width: 53px;
  height: 53px;
  line-height: 53px;
}
.processBtn:hover{
  background: #254051;
  transition: 0.4s;
  color: #FFFFFF;
}
.processBtn:hover a{
  color: #FFFFFF;
}
@media screen and (max-width:1300px){
  .processBtn span{
    font-size: 20px;
  }
  .processBtn i{
    width: 48px;
    height: 48px;
    line-height: 48px;
  }
}
@media screen and (max-width:767px){
  .processBtn span{
    font-size: 15px;
  }
  .processBtn i{
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
/*案例弹框*/
.modalCase{
  padding: 65px;
  box-sizing: border-box;
  background: #FFFFFF;
  width: 100%;
}
.modalCaseText > strong {
  font-size: 24px;
}
.modalCaseText > div {
  font-size: 14px;
  color: #232425;
  margin-top: 15px;
  line-height: 1.8;
  text-align: justify;
}
.modalCaseText > div ul li{
  padding-left: 20px;
  position: relative;
}
.modalCaseText > div ul li:after{
  position: absolute;
  content: "-";
  left: 0;
  top: -1px;
}
@media screen and (max-width: 1023px) {
  .modalCase {
    padding: 40px;
  }
}
@media screen and (max-width: 767px) {
  .modalCase {
    padding: 20px;
  }
  .modalCaseText > strong {
    font-size: 20px;
  }
  .modalCaseText > div {
    font-size: 12px;
    margin-top: 10px;
    line-height: 1.6;
  }
}
/*分格Div*/
.separateUl>ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.separateUl>ul>li{
  background: #FFFFFF;
  text-align: center;
  padding: 50px 35px;
  box-sizing: border-box;
  margin-top: 50px;
  font-size: 24px;
  color: #254051;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.16);
  min-height: 350px;
  transition: all 0.3s;
}
.separateUl>ul>li:hover{
  transform: translateY(-10px);
}
.separateUl>ul>li img{
  width: 80px;
  margin-bottom: 30px;
}
.separateUl>ul>li>div{
  font-size: 16px;
  color: #83929C;
  line-height: 1.6;
  margin-top: 25px;
}
.separateUl3li>ul>li{
  width: 30%;
}
.separateUl4li>ul>li{
  width: 22.5%;
}
.separateUl4li>ul>li:last-child{
  display: none;
  opacity: 0;
}
@media screen and (max-width:1200px){
  .separateUl>ul>li{
    font-size: 22px;
  }
  .separateUl4li>ul>li{
    width: 30%;
  }
  .separateUl4li>ul>li:last-child{
    display: block;
  }
}
@media screen and (max-width:1023px){
  .separateUl>ul>li img{
    width: 70px;
    margin-bottom: 20px;
  }
  .separateUl>ul>li{
    font-size: 18px;
    min-height: 200px;
    margin-top: 35px;
  }
  .separateUl>ul>li>div{
    font-size: 14px;
    margin-top: 15px;
  }
  .separateUl3li>ul>li{
    width: 31%;
  }
  .separateUl4li>ul>li{
    width: 48%;
  }
  .separateUl4li>ul>li:last-child{
    display: none;
  }
}
@media screen and (max-width:767px){
  .separateUl>ul>li{
    margin-top: 15px;
    padding: 25px 15px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.16);
  }
  .separateUl>ul>li img{
    width: 50px;
    margin-bottom: 10px;
  }
  .separateUl>ul>li>div{
    font-size: 12px;
    line-height: 1.4;
    margin-top: 5px;
  }
  .separateUl3li>ul>li{
    width: 48%;
  }
  .separateUl4li>ul>li:last-child{
    display: none;
  }
}
/*文章內容*/
.itArtcleText{
  font-size: 15px;
  color: #83929C;
  line-height: 2;
}
.itArtcleText>img{
  margin-bottom: 30px;
}
.itArtcleText .button{
  text-align: center;
  margin: 50px 0;
}
.itArtcleText .titText{
  font-size: 17px;
  text-align: center;
}
.itArtcleText .button>a{
  border: solid 2px #ff3326;
  border-radius: 3px;
  color: #ff3326;
  font-size: 18px;
  line-height: 50px;
  padding: 0 45px;
  text-align: center;
  display: inline-block;
}
.itArtcleText .button>a:hover{
  background: #ff3326;
  color: #FFFFFF;
}
.articleText{
  padding-bottom: 50px;
}
.articleText>p{
  color: #254051;
  font-size: 18px;
  margin-bottom: 10px;
}
.articleText a{
  color: #ff3b1d;
}

@media screen and (max-width:767px){
  .articleText{
    padding-bottom: 30px;
  }
  .articleText>p{
    font-size: 16px;
    margin-bottom: 5px;
  }
  .itArtcleText{
    font-size: 12px;
    line-height: 1.8;
  }
  .itArtcleText>img{
    margin-bottom: 15px;
  }
  .itArtcleText .titText{
    font-size: 16px;
  }
  .itArtcleText .button>a{
    font-size: 16px;
    padding: 0 30px;
    line-height: 40px;
  }
  .itArtcleText .button{
    margin: 30px 0;
  }
}
