/**/
.MTableDiv{
  display: table;
  width: 100%;
  table-layout: fixed;
}
.MTableDiv>div{
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  box-sizing: border-box;
}
.MLeftDiv>div{
  margin-bottom: 40px;
}
.MLeftDiv>div:last-child{
  margin-bottom: 0;
}
.MLeftDiv>div>p{
  font-size: 14px;
  color: #83929C;
  margin-top: 25px;
}
.MRightDiv{
  padding-left: 20px;
}
.MRightDiv>img{
  margin-bottom: 50px;
}
.MRightDiv>img:last-child,.MaintainDiv3>div:last-child{
  margin-bottom: 0;
}
.MLeftDiv strong{
  font-size: 28px;
  color: #254051;
  display: block;
}
/**/
.MaintainDiv3{
  padding-top: 40px;
}
.MaintainDiv3>div{
  line-height: 1.8;
  font-size: 14px;
  color: #83929C;
  margin-bottom: 25px;
}
.MaintainDiv3>div p{
  color: #254051;
}
/**/
.separateUl{
  position: relative;
  z-index: 2;
}
.MaintainDiv4BgImg{
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -2px;
  z-index: 0;
}

@media screen and (max-width:1200px){
  .MLeftDiv strong{
    font-size: 24px;
  }
}
@media screen and (max-width:1023px){
  .MTableDiv>div{
    display: block;
    width: 100%;
  }
  .MLeftDiv>div>p{
    margin-top: 15px;
  }
  .MLeftDiv>div{
    margin-bottom: 25px;
  }
  div.MRightDiv{
    padding-left: 0;
    padding-top: 40px;
    display: flex;
    width: 100%;
  }
  .MRightDiv>img{
    width: 50%;
    margin-bottom: 0;
    padding: 0 2.5px;
    box-sizing: border-box;
  }
}
@media screen and (max-width:767px){
  .MLeftDiv strong{
    font-size: 16px;
  }
  .MLeftDiv>div>p{
    margin-top: 10px;
    font-size: 12px;
  }
  .MLeftDiv>div{
    margin-bottom: 15px;
  }
  div.MRightDiv{
    padding-top: 15px;
  }
  .MaintainDiv3{
    padding-top: 15px;
  }
  .MaintainDiv3>div{
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
}
